*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  margin: 0;
  padding: 0;
}

.MapPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MapPageBtn{
  align-self: left;
}