.mapBox {
  width: 85%;
  height: 70vh;
  border: 1px solid black;
  margin-top: 20px;
}

.MapContainer{
    height: calc(100% - 80px);
    position: relative;
}

.remove-object{
  opacity: 0.3;
  pointer-events: none;

}

.mapBox .imgFormat{
  user-select: none;
  width: 100%;
  height: 100% ;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.canvas{
  z-index: 1;
}

.moreInfoSelectArea{
  position: absolute;
  top: 10px;
  left: 5px;
}

/* btn */
.SquareButton{
  padding: 2px;
  margin: 2px;
  color: white;
  border: none;
}

.SquareButton:hover{
  opacity: 0.9;
}

.Pin{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Pin > img {
  width: 20px;
  height: 20px;
}