.mapDescription{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-left: 10px;
}

.descriptionInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

