.note {
  z-index: 2;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  
}

.note-value {
  max-width: 90px;
  overflow-wrap: break-word;
}

.note > textarea{
  direction:RTL;
  width: 70px;
  height: 40px;
}